<br>
<div class="card main-view">
  <p-dataView *ngIf="isLoaded" emptyMessage="Nada encontrado, experimente escolher outra carga" class="data-container"
    #dv [lazy]="true" [value]="produtos.data" [paginator]="true" [rows]="produtos.meta.take"
    [totalRecords]="produtos.meta.itemCount" [pageLinks]="produtos.meta.pageCount" (onLazyLoad)="paginar($event)"
    filterBy="nome" layout="list">
    <ng-template pTemplate="header">
      <div class="flex flex-row justify-content-end mb-2">
        <button class="sm:w-auto w-full" pButton pRipple icon="pi pi-plus" label="Novo" (click)="createNew()">
        </button>
      </div>
      <div class="flex flex-row justify-content-end mb-2">
        <button class="sm:w-auto w-full p-button p-button-outlined" iconPos="right" pButton pRipple label="Realizar carga de estoques"
          icon="pi pi-external-link" (click)="redirectCarga()" ></button>
      </div>

      <div class="flex flex-column md:flex-row md:justify-content-center">
        <span class="p-input-icon-right mb-2 md:mb-0 ">
          <i class="pi pi-search cursor-pointer text-primary" (click)="search()"></i>
          <input class="w-full" type="search" pInputText [(ngModel)]="searchedNome"
            [ngModelOptions]="{standalone: true}" placeholder="Buscar por nome" (keyup.enter)="search()">
        </span>
      </div>

    </ng-template>
    <ng-template let-data pTemplate="listItem">
      <div *ngIf="isLoaded" #templateGrid class="col-12">
        <div class="data-list-item">
          <div class="crop mb-2 md:mb-0 ">
            <img class="border-circle border-2 border-primary"
              [src]="data.imagem_principal_url || 'assets/imgs/outros/default-produto.png'" [alt]="data.nome" />
          </div>
          <div class="data-list-detail">
            <div class="data-name">{{ data.nome }}</div>
            <div class="mt-1 mb-3">{{ data.descricao }}</div>
            <div class="mt-1">Preço de compra: {{ data.preco_compra | currency:'BRL': '(R$)' }}</div>
            <div class="mt-1">Preço de venda: {{ data.preco_venda | currency:'BRL': '(R$)'}}</div>
          </div>
          <div class="data-list-action">
            <p-button icon="pi pi-pencil" label="Editar" (click)="editar(data)">
            </p-button>
            <button pButton type="button" class="p-button-outlined" icon="pi pi-table" label="Estoques"
              (click)="estoque(data)">
            </button>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>


<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>