<!DOCTYPE html>
<html>

<head>
  <style>
    .container {
      width: 800px;
      font-family: Arial, Helvetica, sans-serif;
    }
    .img-container {
      width: 100px;
      height: 100px;

      max-width: 100px;
      max-height: 100px;
    }

    span {
      margin: 10px 0;
      display: block;
    }
  </style>

</head>

<body>
  <div class="container">
    <img class="img-container"
      src="{{SYSTEM_LOGO}}" />
    <br>

    <span>Oi, {{nome}}</span>

    <br />

    <span>Você solicitou alteração de senha.</span>
    <span>Para realizar a troca, utilize o seguinte código
      <strong>{{code}}</strong>
    </span>

    <span>Caso não tenha sido você quem solicitou a alteração da senha, basta ignorar este e-mail.</span>

    <strong>Obrigado!</strong>

    <h3>Equipe | <strong>{{SYSTEM_NICKNAME}}</strong></h3>
  </div>
</body>

</html>