<ion-content appScrollTheme>
  <ng-container>
    <form [formGroup]="form" (ngSubmit)="$event.preventDefault()">
      <div class="surface-ground px-4  md:px-6 lg:px-8">
        <div class="text-900 font-medium text-xl mb-3">Criar</div>
        <div class="surface-card p-4 shadow-2 border-round p-fluid">
          <div class="grid formgrid p-fluid">
            <div class="field mb-4 col-12 md:col-6">
              <label for="nome" class="font-medium text-900">CEP</label>
              <p-inputMask id="cep" placeholder="CEP" formControlName="cep" mask="99999-999"></p-inputMask>
              <div class="flex mt-1 justify-content-end">
                <p-message severity="error" text="Obrigatório" *ngIf="isInputError('cep')"></p-message>
              </div>
            </div>
            <div class="field mb-4 col-12">
              <label for="descricao" class="font-medium text-900">Endereço</label>
              <input id="endereco" type="text" pInputText placeholder="Endereço" formControlName="endereco" />
              <div class="flex mt-1 justify-content-end">
                <p-message severity="error" text="Obrigatório" *ngIf="isInputError('endereco')"></p-message>
              </div>
            </div>
            <div class="field mb-4 col-12 md:col-6">
              <label for="numero" class="font-medium text-900">Número</label>
              <input id="numero" type="text" pInputText placeholder="Número" formControlName="numero" />
              <div class="flex mt-1 justify-content-end">
                <p-message severity="error" text="Obrigatório" *ngIf="isInputError('numero')"></p-message>
              </div>
            </div>
            <div class="field mb-4 col-12 md:col-6">
              <label for="complemento" class="font-medium text-900">Complemento</label>
              <input id="complemento" type="text" pInputText placeholder="Complemento" formControlName="complemento" />
              <div class="flex mt-1 justify-content-end">
                <p-message severity="error" text="Obrigatório" *ngIf="isInputError('complemento')"></p-message>
              </div>
            </div>
            <div class="field mb-4 col-12 md:col-6">
              <label for="bairro" class="font-medium text-900">Bairro</label>
              <input id="bairro" type="text" pInputText placeholder="Bairro" formControlName="bairro" />
              <div class="flex mt-1 justify-content-end">
                <p-message severity="error" text="Obrigatório" *ngIf="isInputError('bairro')"></p-message>
              </div>
            </div>
            <div class="field mb-4 col-12 md:col-6">
              <label for="cidade" class="font-medium text-900">Cidade</label>
              <input id="cidade" type="text" pInputText placeholder="Cidade" formControlName="cidade" />
              <div class="flex mt-1 justify-content-end">
                <p-message severity="error" text="Obrigatório" *ngIf="isInputError('cidade')"></p-message>
              </div>
            </div>
            <div class="field mb-4 col-12 md:col-6">
              <label for="estado" class="font-medium text-900">Cidade</label>
              <p-dropdown id="estado" [options]="listEstados" placeholder="Insira o Estado" formControlName="estado"
                optionLabel="nome" optionValue="sigla"></p-dropdown>
              <div class="flex mt-1 justify-content-end">
                <p-message severity="error" text="Obrigatório" *ngIf="isInputError('estado')"></p-message>
              </div>
            </div>
            <div class="surface-border border-top-1 opacity-50 mb-4 col-12"></div>
          </div>
          <div class="flex justify-content-end">
            <button pButton pRipple label="Criar" icon="pi pi-send" iconPos="right" class="w-auto" (click)="create()"
              [disabled]="disableCreateBtn()"></button>
          </div>
        </div>
      </div>
    </form>
  </ng-container>
</ion-content>

<ion-footer *ngIf="isModal">
  <ion-toolbar>
    <ion-button expand="full" color="danger" (click)="fechar()">Fechar</ion-button>
  </ion-toolbar>
</ion-footer>