:host ::ng-deep {
    .data-container {
        .center{
            text-align: center;
        }
        .p-dropdown {
            width: 14rem;
            font-weight: normal;
        }

        .user-name {
            font-size: 1.5rem;
            font-weight: 700;
        }

        .user-description {
            margin: 0 0 1rem 0;
        }

        

        .user-category-icon {
            vertical-align: middle;
            margin-right: 0.5rem;
        }

        .user-category {
            font-weight: 600;
            vertical-align: middle;
        }

        .user-list-item {
            display: flex;
            align-items: center;
            padding: 1rem;
            width: 100%;

            img {
                width: 150px;
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
                margin-right: 2rem;
            }

            .user-list-detail {
                flex: 1 1 0;
            }

            .p-rating {
                margin: 0 0 0.5rem 0;
            }

            .user-price {
                font-size: 1.5rem;
                font-weight: 600;
                margin-bottom: 0.5rem;
                align-self: flex-end;
            }

            .user-list-action {
                display: flex;
                flex-direction: column;
            }

            .p-button {
                margin-bottom: 0.5rem;
            }

            
        }

        .row-space{
            margin-bottom: 10px;
        }

        .obj-avatar-img{
            border-radius: 50%;
            width: 150px;
            height: 150px;
        }
    }

    p-dropdown{
        margin-left: 5px;
    }
}

@media screen and (max-width: 576px) {
    :host ::ng-deep .user-list-item {
        flex-direction: column;
        align-items: center;

        img {
            width: 75%;
            margin: 2rem 0;
        }

        .user-list-detail {
            text-align: center;
        }

        .user-price {
            align-self: center;
        }

        .user-list-action {
            display: flex;
            flex-direction: column;
        }

        .user-list-action {
            margin-top: 2rem;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
    }
}
