<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>ADM. Operação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content appScrollTheme>
  <br />
  <ion-segment class="background-segment" [(ngModel)]="currentTab" [ngModelOptions]="{standalone: true}"
    (ionChange)="changeTab($event)">
    <ion-segment-button style="margin-left: 5px; max-width: 200px" layout="icon-start" value="produtos">
      <ion-icon style="font-size: 1.2em" name="fast-food-outline"></ion-icon>
      <ion-label text-wrap class="wrap-text" style="font-size: 1.1em">
        Produtos
      </ion-label>
    </ion-segment-button>
  </ion-segment>
  <br />

  <div class="wall-background h-screen">
    <ng-container *ngIf="currentTab === 'produtos'">
      <div style="max-width: 95%; margin: auto">
        <app-produto-main></app-produto-main>
      </div>
    </ng-container>
  </div>

</ion-content>