<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content appScrollTheme>
  <ng-container *ngIf="user && users">
    <div class="flex flex-column flex-auto wall-background py-2 h-screen">
      <div class="surface-section p-5">
        <div (click)="openPerfil()" class="flex align-items-start flex-column lg:flex-row 
        lg:justify-content-between cursor-pointer">
          <div class="flex align-items-start flex-column md:flex-row">
            <img [src]="user.avatar_url" class="mr-5 mb-3 lg:mb-0 default-avatar border-1 border-primary" />
            <div>
              <span class="text-900 font-medium text-3xl">{{ user.nome }}</span>
              <div class="flex align-items-center flex-wrap text-sm">
                <div class="mr-5 mt-3">
                  <span class="font-medium text-500">Loja</span>
                  <div class="text-700 mt-2">{{ user.loja?.nome || "Sem loja definida" }}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-3 lg:mt-0">
            <span class="font-medium text-500">{{ user.perfil.nome }}</span>
          </div>
        </div>
      </div>

      <div class="p-5">
        <div class="grid"> 

          <div id="notificacoes" class="col-12 xl:col-6">
            <div class="surface-card shadow-2 border-round p-4">
              <div class="flex align-items-center justify-content-between mb-3">
                <div class="text-900 font-medium text-xl">Notificações</div>
                <div>
                  <button pButton pRipple icon="pi pi-ellipsis-v" class="p-button-text p-button-plain p-button-rounded"
                    (click)="menu.toggle($event)"></button>
                  <p-menu #menu [popup]="true" [model]="itemsNotificacao" appendTo="body"></p-menu>
                </div>
              </div>
              <ng-container *ngIf="notificacoes">
                <ul class="list-none p-0 m-0">
                  <li *ngFor="let n of notificacoes"
                    class="py-3 border-bottom-1 surface-border flex md:align-items-start md:justify-content-between flex-column md:flex-row">
                    <div class="flex align-items-start mr-0 lg:mr-5">
                      <button pButton pRipple type="button" [icon]="getNotificacaoIcon(n)"
                        class="p-button-rounded p-button-secondary p-button-text mr-3 mt-4"></button>
                      <div>
                        <span class="text-900 font-medium block mb-2">{{ n.nome }}</span>
                        <div class="text-700 mb-2"> {{ n.descricao }}</div>
                        <a [ngClass]="{
                          'warning' : 'text-yellow-500', 
                        'danger' : 'text-pink-500', 
                        'info' : 'text-blue-500', 
                        'success' : 'text-green-500'
                      }[n.status]">
                          <span>{{ n.status | convertStatus }}</span>
                        </a>
                      </div>
                    </div>
                    <span class="block text-500 font-medium ml-7 md:ml-5 mt-2 md:mt-0">{{ n.created_at | timeSince
                      }}</span>
                  </li>
                </ul>
              </ng-container>

              <ng-container *ngIf="!notificacoes || notificacoes.length == 0">
                <div class="border-circle border-1 border-primary">
                  <app-attention-surface title="Atenção" subtitle="Vazio"
                    message="Nenhuma notificação encontrada"></app-attention-surface>
                </div>
              </ng-container>
            </div>
          </div>

          <div id="membros" class="col-12 xl:col-6">
            <div class="surface-card shadow-2 border-round p-4">
              <div class="flex justify-content-between align-items-center mb-5">
                <span class="text-xl text-900 font-medium">Membros da mesma loja</span>
                <div>
                  <button pButton pRipple icon="pi pi-ellipsis-v" class="p-button-text p-button-plain p-button-rounded"
                    (click)="cag.toggle($event)"></button>
                  <p-menu #cag [popup]="true" [model]="itemsUsers" appendTo="body"></p-menu>
                </div>
              </div>
              <ul class="list-none p-0 m-0">
                <li *ngFor="let u of users.data;"
                  class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                  <div class="flex">
                    <img [src]="u.avatar_url || 'assets/imgs/outros/default-user.jpg'"
                      class="mr-3 avatar border-circle border-1 border-primary" style="width: 45px; height: 45px" />
                    <div>
                      <span class="block text-900 font-medium mb-1">{{ u.nome }}</span>
                      <div class="text-600">{{ u.cargo?.nome || "Sem cargo definido" }}</div>
                    </div>
                  </div>
                  <div class="mt-2 md:mt-0 flex flex-nowrap">
                    <button pButton pRipple class="p-button-text p-button-plain p-button-rounded mr-1"
                      icon="pi pi-envelope" (click)="goToSendEmail(u)"></button>
                    <!--
                      <button pButton pRipple class="p-button-text p-button-plain p-button-rounded mr-1"
                      icon="pi pi-comment"></button>
                    -->
                    <button pButton pRipple class="p-button-text p-button-plain p-button-rounded mr-1"
                      icon="pi pi-external-link" (click)="openMembro(u)"></button>
                  </div>
                </li>
              </ul>
              <p-paginator [rows]="users.meta.take" [totalRecords]="users.meta.itemCount"
                [pageLinkSize]="users.meta.pageCount" (onPageChange)="paginar($event)"></p-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ion-content>