<p-dialog *ngIf="selectedProduto" [(visible)]="showDialog" appendTo="body" [modal]="true" [closable]="false"
  [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '40vw'}" [draggable]="false">
  <ng-template pTemplate="header">
    <div class="flex align-items-center">
      <span class="flex align-items-center justify-content-center bg-cyan-100 text-cyan-800 mr-3 border-circle"
        style="width:32px;height:32px">
        <i class="pi pi-info text-lg"></i>
      </span>
      <span class="font-medium text-2xl text-900">{{ selectedProduto.nome }}</span>
    </div>
  </ng-template>
  <div class="grid">
    <div class="col-12 line-height-3 p-0 m-1">
      {{ selectedProduto.descricao }}
      <div class="mt-1" *ngIf="selectedProduto?.estoques">
        <div *ngFor="let e of selectedProduto.estoques">
          <span>{{e.quantidade}} unidades disponíves na loja {{ e.loja.codigo }} - {{ e.loja.nome }}</span>
        </div>
      </div>
    </div>
    <div class="col-12 border-top-1 surface-border pt-3  mt-2"></div>
    <div class="col-12 lg:col-6 p-3 text-center">
      <div class="shadow-2 surface-card p-3" style="border-radius: 12px">
        <div class="flex align-items-center justify-content-between">
          <div>
            <span class="text-xl text-900 font-bold">R$ {{ selectedProduto.preco_compra | currency:'BRL': ''
              }}</span>
            <p class="mt-2 mb-0 text-600 text-lg">Preço de compra do produto</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 lg:col-6 p-3 text-center">
      <div class="shadow-2 surface-card p-3" style="border-radius: 12px">
        <div class="flex align-items-center justify-content-between">
          <div>
            <span class="text-xl text-900 font-bold">R$ {{ selectedProduto.preco_venda | currency:'BRL': ''
              }}</span>
            <p class="mt-2 mb-0 text-600 text-lg">Preço de venda do produto</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <button pButton pRipple icon="pi pi-check" (click)="close()" label="OK"></button>
  </ng-template>
</p-dialog>