
@media only screen and (max-width: 770px) {
    .product-img {
     width: 320px;
     height: 320px;
     margin: auto;
    }
  }

  .limit-image-259{
    width: 259px; 
    height: 259px;
  }

  .limit-image-64{
    width: 64px; 
    height: 64px;
  }