<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Emails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content appScrollTheme>
  <ion-segment class="background-segment mb-2" [(ngModel)]="currentTab" [ngModelOptions]="{standalone: true}"
    (ionChange)="changeTab($event)">
    <ion-segment-button style="margin-left: 5px; max-width: 200px" layout="icon-start" value="email-send">
      <ion-icon style="font-size: 1.2em" name="mail-outline"></ion-icon>
      <ion-label text-wrap class="wrap-text" style="font-size: 1.1em">
        E-mail
      </ion-label>
    </ion-segment-button>
  </ion-segment>

  <div class="wall-background">
    <ng-container *ngIf="currentTab === 'email-send'">
      <div style="max-width: 95%; margin: auto">
        <app-email-send></app-email-send>
      </div>
    </ng-container>
  </div>
</ion-content>