<ng-container *ngIf="!isModal">
  <form *ngIf="user && lojas && perfis" [formGroup]="form" (ngSubmit)="$event.preventDefault()">
    <div class="surface-ground px-4 md:px-6 lg:px-8">

      <div class="flex flex-column align-items-center flex-or">
        <img [src]="user?.avatar_url || 'assets/imgs/outros/default-user.jpg'"
          class="h-10rem w-10rem border-circle border-2 border-primary mr-1 xl:mr-0 ml-3" />
        <p-fileUpload #avatarFile id="avatar" mode="basic" name="avatar" accept="image/*"chooseLabel=" "
          styleClass="p-button-rounded -mt-4 w-3rem" chooseIcon="pi pi-pencil" customUpload="true" [auto]="true"
          (uploadHandler)="uploadFile($event, avatarFile)">
        </p-fileUpload>
      </div>
      <div class="text-900 font-medium text-xl mb-1">Atualizar</div>
      <div class="surface-card p-4 shadow-2 border-round p-fluid">
        <div class="grid formgrid p-fluid">
          <div class="field mb-4 col-12 md:col-6">
            <label for="nome" class="font-medium text-900">Nome</label>
            <input id="nome" placeholder="Nome" type="text" pInputText formControlName="nome">
            <div class="flex mt-1 justify-content-end">
              <p-message severity="error" text="Obrigatório" *ngIf="isInputError('nome')"></p-message>
            </div>
          </div>
          <div class="field mb-4 col-12 md:col-6">
            <label for="status_patrimonio">Status</label>
            <p-dropdown [options]="sortStatus" placeholder="Status" formControlName="status" optionLabel="label"
              optionValue="value"></p-dropdown>
            <div class="flex mt-1 justify-content-end">
              <p-message severity="error" text="Obrigatório" *ngIf="isInputError('status')"></p-message>
            </div>
          </div>
          <div class="field mb-4 col-12">
            <label for="descricao">Perfil</label>
            <p-dropdown #dropdown_perfil [options]="perfis.data" placeholder="Selecione o perfil de acesso"
              formControlName="perfil_id" optionLabel="nome">
              <ng-template let-perfil pTemplate="item">
                <div class="">
                  <div>{{perfil.nome}}</div>
                </div>
              </ng-template>
              <ng-template pTemplate="footer">
                <div class="col-12 w-auto">
                  <button *ngIf="perfis.meta.hasNextPage" pButton pRipple type="button" label="Carregar mais"
                    (click)="lazyLoadPerfis(dropdown_perfil)" class="p-button-outlined p-button-rounded"></button>
                </div>
              </ng-template>
            </p-dropdown>
            <div class="flex mt-1 justify-content-end">
              <p-message severity="error" text="Obrigatório" *ngIf="isInputError('perfil_id')"></p-message>
            </div>
          </div>
          <div class="surface-border border-top-1 opacity-50 mb-4 col-12"></div>
          <div class="field mb-4 col-12 justify-content-start">
            <label for="loja_id">Loja</label>
            <span class="p-input-icon-right mb-2 mt-2 w-3">
              <i class="pi pi-search cursor-pointer text-primary" (click)="searchLoja()"></i>
              <input type="search" pInputText [(ngModel)]="searchedLoja" [ngModelOptions]="{standalone: true}"
                placeholder="Nome ou descrição" (keyup.enter)="searchLoja(dropdown_loja)">
            </span>
            <p-dropdown #dropdown_loja [options]="lojas.data" placeholder="Qual loja ele estará alocado?"
              formControlName="loja_id" optionLabel="nome" optionValue="id"></p-dropdown>
            <p-paginator [value]="lojas.data" [paginator]="true" [rows]="lojas.meta.take"
              [totalRecords]="lojas.meta.itemCount" [pageLinks]="lojas.meta.pageCount"
              (onPageChange)="paginarLojas($event, dropdown_loja)">
            </p-paginator>
            <div class="flex mt-1 justify-content-end">
              <p-message severity="error" text="Obrigatório" *ngIf="isInputError('loja_id')"></p-message>
            </div>
          </div>
          <div class="surface-border border-top-1 opacity-50 mb-4 col-12"></div>

          <div class="surface-border border-top-1 opacity-50 mb-4 col-12"></div>
        </div>
        <div class="flex justify-content-end">
          <button pButton pRipple label="Atualizar" icon="pi pi-send" iconPos="right" class="w-auto" (click)="update()"
            [disabled]="disableUpdateBtn()"></button>
        </div>
      </div>
    </div>
  </form>
</ng-container>

<ng-container *ngIf="isModal">

  <ion-content appScrollTheme>
    <form *ngIf="user && lojas && perfis " [formGroup]="form" (ngSubmit)="$event.preventDefault()">
      <div class="surface-ground px-4 md:px-6 lg:px-8">
  
        <div class="flex flex-column align-items-center flex-or ">
          <img [src]="user?.avatar_url || 'assets/imgs/outros/default-user.jpg'"
            class="h-10rem w-10rem border-circle border-2 border-primary mr-1 xl:mr-0 ml-3 " />
          <p-fileUpload #avatarFile id="avatar" mode="basic" name="avatar" accept="image/*"
            styleClass="p-button-rounded -mt-4 w-3rem  text-center" chooseIcon="pi pi-pencil" chooseLabel=" "
            customUpload="true" [auto]="true" (uploadHandler)="uploadFile($event, avatarFile)">
          </p-fileUpload>
        </div>
        <div class="text-900 font-medium text-xl mb-1">Atualizar</div>
        <div class="surface-card p-4 shadow-2 border-round p-fluid">
          <div class="grid formgrid p-fluid">
            <div class="field mb-4 col-12 md:col-6">
              <label for="nome" class="font-medium text-900">Nome</label>
              <input id="nome" placeholder="Nome" type="text" pInputText formControlName="nome">
              <div class="flex mt-1 justify-content-end">
                <p-message severity="error" text="Obrigatório" *ngIf="isInputError('nome')"></p-message>
              </div>
            </div>
            <div class="field mb-4 col-12 md:col-6">
              <label for="status_patrimonio">Status</label>
              <p-dropdown [options]="sortStatus" placeholder="Status" formControlName="status" optionLabel="label"
                optionValue="value"></p-dropdown>
              <div class="flex mt-1 justify-content-end">
                <p-message severity="error" text="Obrigatório" *ngIf="isInputError('status')"></p-message>
              </div>
            </div>
            <div class="field mb-4 col-12">
              <label for="descricao">Perfil</label>
              <p-dropdown #dropdown_perfil [options]="perfis.data" placeholder="Selecione o perfil de acesso"
                formControlName="perfil_id" optionLabel="nome">
                <ng-template let-perfil pTemplate="item">
                  <div class="">
                    <div>{{perfil.nome}}</div>
                  </div>
                </ng-template>
                <ng-template pTemplate="footer">
                  <div class="col-12 w-auto">
                    <button *ngIf="perfis.meta.hasNextPage" pButton pRipple type="button" label="Carregar mais"
                      (click)="lazyLoadPerfis(dropdown_perfil)" class="p-button-outlined p-button-rounded"></button>
                  </div>
                </ng-template>
              </p-dropdown>
              <div class="flex mt-1 justify-content-end">
                <p-message severity="error" text="Obrigatório" *ngIf="isInputError('perfil_id')"></p-message>
              </div>
            </div>
            <div class="surface-border border-top-1 opacity-50 mb-4 col-12"></div>
            <div class="field mb-4 col-12 justify-content-start">
              <label for="loja_id">Loja</label>
              <span class="p-input-icon-right mb-2 mt-2 w-3">
                <i class="pi pi-search cursor-pointer text-primary" (click)="searchLoja()"></i>
                <input type="search" pInputText [(ngModel)]="searchedLoja" [ngModelOptions]="{standalone: true}"
                  placeholder="Nome ou descrição" (keyup.enter)="searchLoja(dropdown_loja)">
              </span>
              <p-dropdown #dropdown_loja [options]="lojas.data" placeholder="Qual loja ele estará alocado?"
                formControlName="loja_id" optionLabel="nome" optionValue="id"></p-dropdown>
              <p-paginator [value]="lojas.data" [paginator]="true" [rows]="lojas.meta.take"
                [totalRecords]="lojas.meta.itemCount" [pageLinks]="lojas.meta.pageCount"
                (onPageChange)="paginarLojas($event, dropdown_loja)">
              </p-paginator>
              <div class="flex mt-1 justify-content-end">
                <p-message severity="error" text="Obrigatório" *ngIf="isInputError('loja_id')"></p-message>
              </div>
            </div>
            <div class="surface-border border-top-1 opacity-50 mb-4 col-12"></div>
          </div>
          <div class="flex justify-content-end">
            <button pButton pRipple label="Atualizar" icon="pi pi-send" iconPos="right" class="w-auto" (click)="update()"
              [disabled]="disableUpdateBtn()"></button>
          </div>
        </div>
      </div>
    </form>

  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-button expand="full" color="danger" (click)="fechar()">Fechar</ion-button>
    </ion-toolbar>
  </ion-footer>
</ng-container>