<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="goBack()">
      <ion-button style="min-width: 70px;" size="large" color="primary" shape="round" fill="outline">
        <ion-icon style="font-size:40px" name="arrow-undo-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Recuperação de senha
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content appScrollTheme>

  <ion-grid>


    <div class="border">
      <div class="limiter">

        <form [formGroup]="form" (ngSubmit)="$event.preventDefault()">

          <ng-container *ngIf="stepIndex == 0">
            <ion-row>
              <ion-col>
                <ion-item style="margin-top: 5px;" color="light">
                  <ion-input color="primary" (keyup.enter)="sendRequest()" formControlName="email" type="email"
                    placeholder="Insira seu email"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-button expand="block" fill="solid" [disabled]="!this.form.get('email').valid"
                  (click)="sendRequest()">Enviar
                </ion-button>
              </ion-col>
            </ion-row>
          </ng-container>

          <ng-container *ngIf="stepIndex == 1">
            <ion-row>
              <ion-col>
                <ion-item style="margin-top: 5px;" color="light">
                  <ion-input color="primary" (keyup.enter)="setFocus(pass)" formControlName="codigo"
                  type="input" placeholder="Insira o código recebido em seu e-mail"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-item color="light">
                  <ion-input #pass color="primary"  formControlName="senha" type="password"
                    placeholder="Insira sua nova senha"></ion-input>
                </ion-item>
                <p-message [style]="{'margin-top': '3px'}" severity="error" text="Obrigatório, mínimo de 6 caracteres"
                  *ngIf="isInputError('senha')"></p-message>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-button expand="block" fill="solid" [disabled]="disableBTN()" (click)="doReset()">Resetar
                </ion-button>
              </ion-col>
            </ion-row>

          </ng-container>

        </form>
      </div>
    </div>
  </ion-grid>


</ion-content>